.jobcard1 {
    width: 90vw;
    margin: 0 auto;
}

.jobcard2 {
    display: flex;
    flex-direction: column;
    line-height: 0.5;
}

.title {
    font-size: 20px;
    font-family: cursive;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.company {
    color: gray;
    font-size: 15px;
}

.durationIcon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.salaryIcon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.locationIcon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.jobDetailsbtn {
    width: 100px;
    height: 40px;
    background-color: rgb(0, 143, 96);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.jobDetailsbtn:hover {
    color: black;
}

.column {
    flex: 1 1 25%;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 768px) {
    .column {
        flex: 1 1 50%;
    }
}

@media (max-width: 480px) {
    .column {
        flex: 1 1 100%;
    }
}